{{/*
  Wowchemy Publication Card: Citation View
  This is a MODIFIED version to add a collapsible abstract
  using the new JavaScript method.
*/}}

{{ $item := . }}
{{ $item_id := .UniqueID }} {{/* This is the bug fix from before */}}
{{ $has_attachments := partial "functions/has_attachments" . }}

<div class="pub-list-item" style="margin-bottom: 1rem">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  {{/* Title */}}
  <a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>

  {{/* Authors */}}
  <div class="pub-authors">
    {{ partial "page_metadata_authors" . }}
  </div>

  {{/* Publication Details */}}
  <div class="pub-details">
    {{ if $item.Params.publication }}
    <span class="pub-venue">
      {{- $item.Params.publication | markdownify -}}
    </span>
    {{end}}
    {{ if $item.Params.publication_short }}
      {{ if $item.Params.publication }}
      <span class="pub-venue-abbreviated">
        ({{ $item.Params.publication_short | markdownify }})
      </span>
      {{ else }}
      <span class="pub-venue">
        {{- $item.Params.publication_short | markdownify -}}
      </span>
      {{ end }}
    {{end}}
    {{ if $item.Params.doi }}
    <a href="https://doi.org/{{ $item.Params.doi | urlquery }}" target="_blank" rel="noopener">
      DOI: {{ $item.Params.doi }}
    </a>
    {{end}}
  </div>

  {{/* Links */}}
  <div class="pub-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}

    {{/* --- THIS IS THE NEW PART --- */}}
    {{/* Abstract button and div, based on your friend's code */}}
    {{ if .Params.abstract }}
      <button class="btn btn-outline-secondary btn-sm btn-toggle" onclick="toggleAbstract(this)">
        {{ i18n "abstract" | default "Abstract" }}
      </button>
      <div class="abstract">
        {{ .Params.abstract | markdownify }}
      </div>
    {{ end }}
    {{/* --- END OF NEW PART --- */}}
    
  </div>
</div>